# ---------------------------------------
# Python 環境に関する無視設定
# ---------------------------------------

# Python バイナリファイル
*.pyc
*.pyo
*.pyd
__pycache__/

# 仮想環境
.venv/
env/
venv/

# Pipenv
Pipfile.lock

# Pythonテストレポート
htmlcov/
.coverage
.tox/
.nox/

# ---------------------------------------
# VSCode 関連ファイル
# ---------------------------------------

# VSCode の設定ファイルを無視
.vscode/
*.code-workspace

# ---------------------------------------
# Docker 関連
# ---------------------------------------

# Docker関連ファイル
docker-compose.override.yml
.dockerignore
*.log

# ---------------------------------------
# 環境設定や機密ファイル
# ---------------------------------------

# 各階層の.envファイルを無視
*.env
!.env.example  # テンプレートは除外

# 一次的なデータを置いておくディレクトリ
.data/
data/

# ---------------------------------------
# ログファイル
# ---------------------------------------

# 一般的なログファイル
*.log

# 特定のディレクトリのログを無視
logs/
*.log

# ---------------------------------------
# OS・エディタによる一時ファイル
# ---------------------------------------

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# vim
*.swp
*.swo

# ---------------------------------------
# バックアップファイル
# ---------------------------------------

# エディタのバックアップファイル
*.bak
*.tmp
*.orig

# ruff cache
.ruff_cache/

*.egg-info

classifier/

# firebase key
dietitian-a0650-firebase-adminsdk-fbsvc-e284185991.json